*
{
	margin: 0;  /* la marge haut bas droite gauche a 0 (pas de marge)*/
	padding: 0; /* l'espace interieux a 0 */

}
body
{
	background-color: #EDEDED; /* Mets une couleur de fond */
}
.wrapper
{
  margin: auto;
  width: 900px;
}
/***************************************/
#login-form
{
	z-index: 2;
	position: absolute;
	background-color: rgba(51, 51, 51, 0.4);
	height: 450px;
	width: 230px;
	border: solid;
	border-style: hidden;
	border-color: #fff;
	border-radius: 5px;
	transition: 2s;
	left: -230px;
}
#login-form h2
{
	font-family: Ubuntu, arial;
	font-size: 32px;
	text-align: center;
	padding: 10px;
	color: #ffffff;
	text-transform: uppercase;
}
#login-form label
{
	display: block;
	margin: 5px 5px;
	font-size: 16px;
	position: relative;
	color: #FFC312;
}
#login-form form input
{
	text-align: center;
	line-height: 18px;
	margin-left: 15px;
	width: 200px;
	padding: 5px;
}
#login-form form input[type="submit"]
{
	margin-top: 5px;
}
#login-form img
{
	margin-left: 50px;
	margin-top: 10px;
	width: 128px;
	height: 128px;
	background-color: #fffeee;
}
